*{ margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  box-sizing: border-box;
 }
.flex-div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}

}
.header{
  padding: 30px 10px;


}
.container{
  padding:40px 9% ;
}
body{ width: 100%;
  height:100vh;
background-image: url(pic2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}


form{background:rgba(0, 0, 0, 0.3);
  width: 500px;
  padding: 30px;
  margin: auto;
  border-radius: 10px;

}

.navbar a{
  margin-left: 20px;
  font-size: 20px;
}
.navbar a:hover{color: red;}
.nav-src input{
padding: 9px;
background:transparent;
border: 1px solid green;
border-top-left-radius: 5px;
border-bottom-left-radius:5px;
}
.btn{ background: orange;
padding: 10px 14px;
color: #fff;
border-top-right-radius: 5px;
border-bottom-right-radius:5px;}
  .what{
    margin-top: 80px;
  }


.what .text-box .btn{
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}
 .what .container{
  padding: 100px ;

 }
 .what .container{
padding: 0 9%;

 }
       .what .container .text-box{
         flex: 0 1 400px;
       }
          .what .container .text-box h1{
            color: gold;
            font-size: 50px;
          }
          .what .text-box span{
          color:green; }
.what .container .text-box p{
  color: aqua;
  margin: 15px 0;
  font-size: 20px;
}

       .what .container .form-box{
         flex: 0 1 400px;
       }
       .what .container .form-box form h3{ background: orange;
         text-align: center;
         color: blue;
         padding: 7px 0;
         border-radius: 5px;
         font-size: 20px;
         margin-top: 12px;


       }
        .what .container .form-box form input{
          display: block;

          padding:  10px;
          margin: 10px 0;
          width: 100%;
          border-radius: 5px;
          background: transparent;
          border-bottom: 1px solid aqua;

        }
      ::placeholder{
        color: #fff;
      }
        .what .container .form-box form button{
          width: 100%;
          background: gold;
          color: red;
          font-size: 18px;
          padding: 7px 0;
          border-radius: 10px;

        }
        .what .container .form-box form p{
          color: #fff;
          text-align: center;
          font-size: 20px;
          margin: 11px;

        }
          .what .container .form-box form a{
          color: red;}
            .what .container .icon{
              text-align: center;
            }
              .what .container .icon h2{
                margin-bottom: 16px;
              }
              .what .container .icon a{
                margin: 10px 15px;

              }


          .gap{
            gap:80px;
          }
          .footer{
            background-color: aqua;
            padding: 10px 10px;
            margin: 140px;
            border-radius: 15px;
          }
.footer h1{
  color: blue;
  text-align: center;
  font-size: 37px;
  c
}
